DEBUG = True
ASSETS_DEBUG = True
SQLALCHEMY_DATABASE_URI = "mysql://root:@localhost/earthquaketracker"
SITE_URL = "http://localhost:5000"

CACHE_CONFIG = {
    "host"  : "localhost",
    "port"  : 6379,
    "db"    : "2"
}

ASSETS = {
    "auto_build" : True
}
