/* IE 6-8 fallback colors */
.marker-cluster-small { background-color: rgb(0, 0, 0); }
.marker-cluster-small div { background-color: rgb(245, 189, 150); }
.marker-cluster-medium { background-color: rgb(0, 0, 0); }
.marker-cluster-medium div { background-color: rgb(236, 124, 45); }
.marker-cluster-large { background-color: rgb(0, 0, 0); }
.marker-cluster-large div { background-color: rgb(2236, 124, 45); }