/* IE 6-8 fallback colors */
.marker-cluster-small { background-color: rgb(38, 127, 202,); }
.marker-cluster-small div { color: #ffffff; background-color: rgb(38, 127, 202,); }
.marker-cluster-medium { background-color: rgb(38, 127, 202,); }
.marker-cluster-medium div { color: #ffffff; background-color: rgb(38, 127, 202,); }
.marker-cluster-large { background-color: rgb(38, 127, 202,); }
.marker-cluster-large div { color: #ffffff; background-color: rgb(38, 127, 202,); }