{% extends "layout.html" %}

{% block title %}Earthquake Tracker | 89.3 KPCC{% endblock %}
{% block description %}89.3 KPCC's Earthquake Tracker is a tool for following and researching California earthquakes.{% endblock %}
{% block keywords %}KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Earthquakes, Earthquake Tracker, News{% endblock %}
{% block og_title %}Earthquake Tracker | 89.3 KPCC{% endblock %}
{% block og_url %}http://earthquakes.scpr.org/explore-the-map{% endblock %}
{% block og_description %}89.3 KPCC's Earthquake Tracker is a tool for following and researching California earthquakes.{% endblock %}
{% block twitter_description %}89.3 KPCC's Earthquake Tracker is a tool for following and researching California earthquakes.{% endblock %}
{% block twitter_title %}Earthquake Tracker | 89.3 KPCC{% endblock %}
{% block twitter_url %}http://earthquakes.scpr.org/explore-the-map{% endblock %}

{% block core_page_css %}
    {% assets "core_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}
{% endblock %}

{% block bodyclass %}single{% endblock %}

{% block main_content %}
    <header class="prologue full-screen-map">
        <div class="inner bound clearfix content-map-container"></div>
    </header>
{% endblock %}

{% block core_page_js %}
    {% assets "core_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8&sensor=false&amp;libraries=places"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>
    <script type="text/javascript">
        L.Icon.Default.imagePath = SITE_URL + "/static/i/leaflet";
    </script>
{% endblock %}
{% block extra_js %}{% endblock %}
