{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}

{% block bodyclass %}single{% endblock %}

{% block main_content %}
    <header class="prologue">
        <iframe width="100%" height="900" scrolling="no" frameborder="no" src="http://www.arcgis.com/apps/SocialMedia/index.html?appid=17da86436a1f454f8daa8194a3102752"></iframe>
        <!-- <div class="inner bound clearfix content-map-container"></div> -->
    </header>
{% endblock %}