{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}

{% block bodyclass %}single{% endblock %}

{% block main_content %}
    <header class="prologue">
        <div class="inner bound clearfix content-map-container"></div>
    </header>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8&sensor=false&amp;libraries=places"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>

    {% assets "map_app_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}