{% extends "layout.html" %}

{% block title %}Earthquake Tracker | 89.3 KPCC{% endblock %}
{% block description %}89.3 KPCC's Earthquake Tracker is a tool for following and researching California earthquakes.{% endblock %}
{% block keywords %}KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Earthquakes, Earthquake Tracker, News{% endblock %}
{% block og_title %}Earthquake Tracker | 89.3 KPCC{% endblock %}
{% block og_url %}http://projects.scpr.org/earthquakes{% endblock %}
{% block og_description %}89.3 KPCC's Earthquake Tracker is a tool for following and researching California earthquakes.{% endblock %}
{% block twitter_description %}89.3 KPCC's Earthquake Tracker is a tool for following and researching California earthquakes.{% endblock %}
{% block twitter_title %}Earthquake Tracker | 89.3 KPCC{% endblock %}
{% block twitter_url %}http://projects.scpr.org/earthquakes{% endblock %}

{% block bodyclass %}landing{% endblock %}

{% block main_content %}
    <header class="prologue">
        <div class="inner bound clearfix">
            <section class="latest">
                <header>
                    <h1>Recent Earthquakes</h1>
                </header>
                <div class="roundup clearfix">
                    {% for earthquake in recent_earthquakes %}
                        <article>
                            <a href="{{ url_for('detail', title=earthquake.place|url_structure_format(earthquake.date_time), id=earthquake.id ) }}">
                                <h1>{{ earthquake.date_time|date_format('span')|safe }}</h1>
                                <ul>
                                    <li class="near">{{ earthquake.place|strip_and_format_state('mark')|safe }}</li>
                                    <li>Intensity: <mark>{{ earthquake.cdi|default('0', true)}}</mark> <span>(of 10)</span></li>
                                    <li>Depth: <mark>{{ earthquake.depth }} km</mark></li>
                                </ul>
                                <aside class="magnitude">{{ earthquake.mag|round_floating_point }}</aside>
                            </a>
                        </article>
                    {% else %}
                        <h3><em>No earthquakes thus far</em></h3>
                    {% endfor %}
                </div>
            </section><!--/ .latest -->
            <section class="dashboard clearfix content-map-container"></section>
        </div>
    </header>
    <div class="page-cols">
        <div class="inner bound clearfix">
            <div class="primary">
                <header>
                    <h1>Earthquakes greater than 2.5</h1>
                </header>
                <nav class="magnitude-log">
                    <ul>
                        {% for earthquake in earthquake_instances %}
                            <li><a href="{{ url_for('detail', title=earthquake.place|url_structure_format(earthquake.date_time), id=earthquake.id ) }}"><span>{{ earthquake.place|place_format(earthquake.date_time) }}</span><mark>{{ earthquake.mag|round_floating_point }}</mark></a></li>
                        {% endfor %}
                    </ul>
                </nav><!--/ .magnitude-log -->
            </div><!--/ .primary -->
            <div class="supportive clearfix">
                <aside class="about">
                    <h1>About Earthquake Tracker</h1>
                    <div class="prose">
                        <p><a href="projects.scpr.org/earthquakes/">Earthquake Tracker</a> is <a href="http://www.scpr.org/">KPCC's</a> ongoing project to keep a record of seismic activity in California, provide links to reference materials and resources and begin a discussion about earthquake preparedness.</p>
                        <p>Earthquake information is updated four times a day, and comes from <a href="http://www.usgs.gov/">U.S. Geological Survey</a> real-time <a href="http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php">data</a>. Quaternary fault line GIS data is from the <a href="http://earthquake.usgs.gov/hazards/qfaults/google.php">USGS</a>.</p>
                    </div>
                </aside>
                <aside class="resources">
                    <h1>Earthquake links &amp; resources</h1>
                    <ul>
                        {% include 'resources.html' %}
                    </ul>
                </aside>
            </div>
        </div>
    </div><!--/ .page-cols -->
{% endblock %}

{% block extra_js %}{% endblock %}