{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_site_name %}{% endblock %}
{% block og_type %}{% endblock %}
{% block og_url %}{% endblock %}
{% block og_description %}{% endblock %}
{% block twitter_url %}{% endblock %}
{% block twitter_title %}{% endblock %}
{% block twitter_description %}{% endblock %}

{% block bodyclass %}landing{% endblock %}

{% block main_content %}
    <header class="prologue">
        <div class="inner bound clearfix">
            <section class="latest">
                <header>
                    <h1>Recent Earthquakes</h1>
                </header>
                <div class="roundup clearfix">
                    {% for earthquake in recent_instances %}
                        <article>
                            <a href="{{ url_for('detail', id=earthquake.id) }}">
                                <h1><span>{{ earthquake.date_time|date_format }}</span></h1>
                                <ul>
                                    <li class="near">{{ earthquake.place|strip_state|safe }}</li>
                                    <li>Intensity: <mark>{{ earthquake.cdi }}</mark> <span>(of 10)</span></li>
                                    <li>Depth: <mark>{{ earthquake.depth }} km</mark></li>
                                </ul>
                                <aside class="magnitude">{{ earthquake.mag }}</aside>
                            </a>
                        </article>
                    {% else %}
                        <h3><em>No earthquakes thus far</h3>
                    {% endfor %}
                </div>
            </section><!--/ .latest -->
        </div>
    </header>
    <div class="page-cols">
        <div class="inner bound clearfix">
            <div class="primary">
                <header>
                    <h1>All Incidents</h1>
                </header>
                <nav class="magnitude-log">
                    <ul>
                        {% for earthquake in earthquake_instances %}
                            <li><a href="{{ url_for('detail', id=earthquake.id) }}"><span>{{ earthquake.place|title_format(earthquake.date_time) }}</span><mark>{{ earthquake.mag }}</mark></a></li>
                        {% endfor %}
                    </ul>
                </nav><!--/ .magnitude-log -->
            </div><!--/ .primary -->
            <div class="supportive clearfix">
                <aside class="about">
                    <h1>What is Earthquake Tracker?</h1>
                    <div class="prose">
                        <p>Lorem ipsum dolor sit amet, adipiscing elit. With information sourced from <a href="#">the USGS Earthquake Database</a>, Nam blandit pharetra augue, pulvinar tincidunt arcu luctus quis. Aenean in elit aliquet, pretium massa sed, ornare purus.</p>
                        <p>Vestibulum fringilla consectetur neque ac blandit. Nunc accumsan condimentum odio, at porttitor arcu. Ut eu erat nec orci blandit porta. Morbi rhoncus, quam sed placerat mollis, erat nunc vehicula velit, vel facilisis velit lacus ut libero. Phasellus ut adipiscing dui. Nulla quis ornare tellus. Sed nec purus mi. Curabitur non feugiat odio, et hendrerit erat. Fusce vel ante eget sapien tincidunt gravida et mattis orci.</p>
                    </div>
                </aside>
                <aside class="resources">
                    <h1>Socal earthquake resources</h1>
                    <ul>
                        {% include 'resources.html' %}
                    </ul>
                </aside>
            </div>
        </div>
    </div><!--/ .page-cols -->
{% endblock %}