<li><a href="#">Earthquake: "Drop, Cover and Hold On"</a></li>
<li><a href="#">Emergency Supplies Checklist</a></li>
<li><a href="#">Ever Wonder What Causes Earthquakes?</a></li>
<li><a href="#">How To Secure Your Furniture</a></li>
<li><a href="#">How To Strap Your Water Heater</a></li>
<li><a href="#">Organizing Your Neighborhood</a></li>
<li><a href="#">Preparing Children for Earthquakes</a></li>
<li><a href="#">Preparing Your Family</a></li>
<li><a href="#">Tips for Apartment and Mobile Home Managers</a></li>
<li><a href="#">Tips for the Elderly</a></li>
<li><a href="#">Tips for Pet Owners</a></li>
<li><a href="#">Tips for the Physically Challenged</a></li>
<li><a href="#">What To Do Before, During &amp; After Earthquake</a></li>