<li><a href="http://www.calema.ca.gov">Cal. Emergency Management Agency</a></li>
<li><a href="http://www.EarthquakeAuthority.com">Cal. Earthquake Authority</a></li>
<li><a href="http://zimas.lacity.org/">City of Los Angeles property search</a></li>
<li><a href="http://conservation.ca.gov/cgs/shzp/Pages/Index.aspx">Cal. Geological Survey hazard maps</a></li>
<li><a href="http://conservation.ca.gov/cgs/geologic_hazards/earthquakes/Pages/index.aspx#ShakingHazards">Cal. Geological Survey shaking hazards</a></li>
<li><a href="http://www.usrc.org/">U.S. Resiliency Council</a></li>
<li><a href="http://myhazards.calema.ca.gov/">Learn about natural hazards in your neighborhood</a></li>
<li><a href="https://sslearthquake.usgs.gov/ens/">U.S. Geological Survey earthquake notification service</a></li>
<li><a href="http://earthquake.usgs.gov/earthquakes/states/historical.php">U.S. Geological Survey list of U.S. earthquakes of historic interest</a></li>
<li><a href="https://twitter.com/KPCC/lists/earthquake-resources">Twitter list of resources</a></li>
<li><a href="http://www.redcross.org/">American Red Cross</a></li>
<li><a href="http://www.calema.ca.gov/">Cal. Office of Emergency Services</a></li>
<li><a href="http://www.calema.ca.gov/PlanningandPreparedness/Pages/Earthquakes-and-Tsunamis.aspx">Cal. Office of Emergency Services Earthquake and Tsunami Program</a></li>
<li><a href="http://www.earthquakecountry.org/">Earthquake Country Alliance</a></li>
<li><a href="http://www.shakeout.org/">The Great Shakeout</a></li>
<li><a href="http://www.tsunami.noaa.gov/">National Oceanic and Atmospheric Administration</a></li>
<li><a href="http://www.ready.gov/">FEMA</a>, <a href="http://www.ready.gov/es">En español</a></li>
<li><a href="http://www.usgs.gov/">U.S. Geological Survey</a></li>
<li><a href="http://www.scec.org/education/public/espfocus/Apr_06.pdf">Emergency Supplies Checklist</a></li>
<li><a href="http://www.earthquakecountry.org/step1/index.html">Earthquake Country Alliance: Securing your space</a></li>
<li><a href="http://www.earthquakecountry.org/step2/index.html">Earthquake Country Alliance: Plan to be Safe</a></li>
<li><a href="http://www.earthquakecountry.org/step3/index.html">Earthquake Country Alliance: Organize Disaster Supplies</a></li>
<li><a href="http://www.earthquakecountry.org/step4/index.html">Earthquake Country Alliance: Minimize Financial Hardship</a></li>
<li><a href="http://www.earthquakecountry.org/step5/index.html">Earthquake Country Alliance: Drop, Cover and Hold On</a></li>
<li><a href="http://www.earthquakecountry.org/step6/index.html">Earthquake Country Alliance: Improve Safety</a></li>
<li><a href="http://www.earthquakecountry.org/step7/index.html">Earthquake Country Alliance: Reconnect and Restore</a></li>