{% extends "layout.html" %}

{% block title %}March earthquakes near La Habra | 89.3 KPCC{% endblock %}
{% block description %}A magnitude-5.1 earthquake near La Habra Friday night continued to produce aftershocks into Saturday afternoon.{% endblock %}
{% block keywords %}KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Earthquakes, Earthquake Tracker, News{% endblock %}
{% block og_title %}March earthquakes near La Habra | 89.3 KPCC{% endblock %}
{% block og_url %}http://projects.scpr.org/earthquakes/la-habra-earthquakes{% endblock %}
{% block og_description %}A magnitude-5.1 earthquake near La Habra Friday night continued to produce aftershocks into Saturday afternoon.{% endblock %}
{% block twitter_description %}A magnitude-5.1 earthquake near La Habra Friday night continued to produce aftershocks into Saturday afternoon.{% endblock %}
{% block twitter_title %}March earthquakes near La Habra | 89.3 KPCC{% endblock %}
{% block twitter_url %}http://projects.scpr.org/earthquakes/la-habra-earthquakes{% endblock %}

{% block bodyclass %}single{% endblock %}

{% block main_content %}
    <header class="prologue full-screen-map">
        <div class="inner bound clearfix content-map-container"></div>
    </header>
{% endblock %}

{% block extra_js %}{% endblock %}