{% extends "layout.html" %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Earthquakes</h1>
            <ul class="entries">
                {% for record in records %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="/{{ record.primary_id }}"><h2>{{ record.title }}</h2></a>
                            <ul>
								<li>Time: {{ record.time|datetime_format }}</li>
                                <li>Magnitude: {{ record.mag }}</li>
                                <li>Place: {{ record.place }}</li>
                                <li>Updated: {{ record.updated|datetime_format }}</li>
                                <li>Timezone offset from UTC in minutes at the event epicenter: {{ record.tz }}</li>
                                <li>URL: {{ record.url|urlize() }}</li>
                                <li>Felt: {{ record.felt }}</li>
                                <li>CDI: {{ record.cdi }}</li>
                                <li>MMI: {{ record.mmi }}</li>
                                <li>Alert: {{ record.alert }}</li>
                                <li>Status: {{ record.status }}</li>
                                <li>Tsunami: {{ record.tsunami }}</li>
                                <li>Significant: {{ record.sig }}</li>
                                <li>Type: {{ record.type }}</li>
                                <li>Latitude: {{ record.latitude }}</li>
                                <li>Longitude: {{ record.longitude }}</li>
                                <li>Depth: {{ record.depth }}</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                {% else %}
                    <li><em>No earthquakes thus far</em>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}