{% extends "layout.html" %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Earthquakes</h1>
            <ul class=entries>
                {% for entry in entries %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2>{{ entry.title }} - {{ entry.time }}</h2>
                            <ul>
                                <li>Magnitude: {{ entry.mag }}</li>
                                <li>Place: {{ entry.place }}</li>
                                <li>Updated: {{ entry.updated }}</li>
                                <li>Time zone: {{ entry.tz }}</li>
                                <li>URL: {{ entry.url }}</li>
                                <li>Felt: {{ entry.felt }}</li>
                                <li>CDI: {{ entry.cdi }}</li>
                                <li>MMI: {{ entry.mmi }}</li>
                                <li>Alert: {{ entry.alert }}</li>
                                <li>Status: {{ entry.status }}</li>
                                <li>Tsunami: {{ entry.tsunami }}</li>
                                <li>Significant: {{ entry.sig }}</li>
                                <li>Type: {{ entry.type }}</li>
                                <li>Latitude: {{ entry.latitude }}</li>
                                <li>Longitude: {{ entry.longitude }}</li>
                                <li>Depth: {{ entry.depth }}</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                {% else %}
                    <li><em>No earthquakes thus far</em>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}