<p><%= alert %></p>
<p><%= cdi %></p>
<p><%= code %></p>
<p><%= date_time %></p>
<p><%= date_time_raw %></p>
<p><%= depth %></p>
<p><%= dmin %></p>
<p><%= felt %></p>
<p><%= gap %></p>
<p><%= id %></p>
<p><%= ids %></p>
<p><%= latitude %></p>
<p><%= longitude %></p>
<p><%= mag %></p>
<p><%= magType %></p>
<p><%= mmi %></p>
<p><%= nearest_cities %></p>
<p><%= nearest_cities_url %></p>
<p><%= net %></p>
<p><%= nst %></p>
<p><%= place %></p>
<p><%= primary_slug %></p>
<p><%= resource_type %></p>
<p><%= resource_uri %></p>
<p><%= rms %></p>
<p><%= sig %></p>
<p><%= sources %></p>
<p><%= status %></p>
<p><%= title %></p>
<p><%= tsunami %></p>
<p><%= tz %></p>
<p><%= updated %></p>
<p><%= updated_raw %></p>
<p><%= url %></p>