<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a href="javascript:void(0)"><h2><%= title %></h2></a>
    <ul>
		<li>Time: <%= date_time %></li>
        <li>Magnitude: <%= mag %></li>
        <li>Place: <%= place %></li>
        <li>Updated: <%= updated %></li>
        <li>Timezone offset from UTC in minutes at the event epicenter: <%= tz %></li>
        <li>URL: <%= url %></li>
        <li>Felt: <%= felt %></li>
        <li>CDI: <%= cdi %></li>
        <li>MMI: <%= mmi %></li>
        <li>Alert: <%= alert %></li>
        <li>Status: <%= status %></li>
        <li>Tsunami: <%= tsunami %></li>
        <li>Significant: <%= sig %></li>
        <li>Type: <%= resource_type %></li>
        <li>Latitude: <%= latitude %></li>
        <li>Longitude: <%= longitude %></li>
        <li>Depth: <%= depth %></li>
    </ul>
</div>