<h4>rendering list view item</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: #ffffff;">
    <a href="javascript:void(0)"><h2><%= title %></h2></a>
    <ul>
        <li>id: <%= id %></li>
        <li>primary_slug: <%= primary_slug %></li>
        <li>mag:  <%= mag %></li>
        <li>place:  <%= place %></li>
        <li>title:  <%= title %></li>
        <li>date_time:  <%= date_time %></li>
        <li>date_time_raw:  <%= date_time_raw %></li>
        <li>updated:  <%= updated %></li>
        <li>updated_raw:  <%= updated_raw %></li>
        <li>tz:  <%= tz %></li>
        <li>url:  <%= url %></li>
        <li>felt:  <%= felt %></li>
        <li>cdi:  <%= cdi %></li>
        <li>mmi:  <%= mmi %></li>
        <li>alert:  <%= alert %></li>
        <li>status:  <%= status %></li>
        <li>tsunami:  <%= tsunami %></li>
        <li>sig:  <%= sig %></li>
        <li>resource_type:  <%= resource_type %></li>
        <li>latitude: <%= latitude %></li>
        <li>longitude: <%= longitude %></li>
        <li>depth: <%= depth %></li>
        <li>net: <%= net %></li>
        <li>code: <%= code %></li>
        <li>ids: <%= ids %></li>
        <li>sources: <%= sources %></li>
        <li>nst: <%= nst %></li>
        <li>dmin: <%= dmin %></li>
        <li>rms: <%= rms %></li>
        <li>gap: <%= gap %></li>
        <li>magType: <%= magType %></li>
        <li>nearest_cities_url: <%= nearest_cities_url %></li>
        <li>nearest_cities: <%= nearest_cities %></li>
    </ul>
</div>