<div class="controls">
    <header>
        <h1>Browse Incidents</h1>
    </header>

    <form class="filters" action="">

        <div class="control">
            <input type="checkbox" value="hidden" name="fault-lines" id="fault-lines">
            <label for="fault-lines">Show fault lines</label>
        </div>

        <div class="control">
            <input type="checkbox" value="show" name="county-boundaries" id="county-boundaries">
            <label for="county-lines">Show county boundaries</label>
        </div>

        <div class="magnitude">
            <div id="slider"></div>
            <label for="slider">Magnitude slider</label>
        </div>

        <div class="intensity">
            <div id="slider"></div>
            <label for="slider">Intensity slider</label>
        </div>

        <div class="dates">
            <div id="slider"></div>
            <label for="slider">Date range picker</label>
        </div>

        <div class="location">
            Location text field
        </div>

        <!--
        <div class="submit">
            <button value="go">Filter results</button>
        </div>
        -->

    </form>
</div>
<figure class="module">
    <div id="content-map-canvas" class="initial"></div>
</figure>